@CHARSET "UTF-8";

.ptable {
	white-space: normal;
}

/* PrimeFaces Datatable Style*/

/*.primedatatable {
	font-size: 9pt;
	width: 500px;
	font-family: DroidArabicKufi, Helvetica, sans-serif;
}

.primedatatable tbody tr {
	background: transparent;
}

.primedatatable tbody tr a {
text-shadow: 0 1px 0 #EFEFEF;
}

.primedatatable thead th {
	background: #DDDDDD;
	color: #5B5B5B;
}*/

.primedatatable {
	
	border: 1px solid #cccccc;
	margin-bottom: 7px;
	font-size: small;
}

 .primedatatable thead th {
	border-bottom: 1px solid #cccccc;
	background: #DDDDDD;
	color: #5B5B5B;
}

 .primedatatable thead th,  .primedatatable tbody td,  .primedatatable tfoot td {
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

 .primedatatable tfoot td {
	padding-right: 4px;
}

 .primedatatable tbody tr:nth-child(2n) {
	background-color: #eeeeee;
}

.primedatatable td {
	background-color: transparent;
}

 .primedatatable tbody tr:hover,  .primedatatable tfoot tr:hover {
	background-color: #d2e8f2;
}

 .primedatatable tbody tr a {
	display: block;
	color: #5b5b5b;
	text-decoration: none;
	white-space: normal;
	text-align: center;
}

.primedatatable tbody tr {	
	white-space: normal;
	background: transparent;
}

.primedatatable tbody td {
	white-space: normal;
}

 .primedatatable .remove-button {
	display: block;
	width: 22px;
	height: 22px;
	background-image: url("#{resource['remove.png']}");
}

 .primedatatable-footer {
	width: 50%;
	margin-left: 50%;
	margin-top: 5px;
}

 .primedatatable-footer select {
	width: 50%;
	/*height: 30px;*/
	vertical-align: middle;
	margin-right: 5px;
}

 .primedatatable tfoot select {
	line-height: 30px;
	vertical-align: middle;
}

/* Prime Faces Theme Overrides */

.ui-widget-content {
    color: #444444;
    background: transparent;
}

.ui.widget {
white-space: normal;	
}

.ui-datatable tbody td {
    border-color: inherit;   
    white-space: normal;
}

.ui-datatable {
    border: 0px solid #DDDDDD;
    width: 100%;     
    white-space: normal;
}

.ui-datatable-data {
    border: 0px solid #DDDDDD;
    width: 500px;     
    white-space: normal;
}

.ui-widget-header {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #DDDDDD;
    color: #444444;
    font-weight: bold;
}

.ui-datatable thead th {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 4px 10px;
}

.ui-datatable tbody td {
	 border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 4px 10px;
}

 .ui-datatable tfoot td {
 	border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 4px 10px; 
 } 
 
  .onemenu {
 width: 100%;
 }
 
 .onemenu div {
 width: 99.4%;
 border: 1px solid #BBBBBB;
 }
 
 .onemenu span {
 width: 99.4%;
 }
 
 .ui-selectonemenu-label {
 cursor: pointer;
 text-align: center;
 background: #F2F1F0; 
 font-family: Kufi,Helvertica,Verdana,Arial;
 }
 
 .ui-selectonemenu-panel {
 background: #F2F2F2;
 padding-left:5px;
 padding-right:5px;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 1px;
 }
 
 .ui-selectonemenu-row {
 border: 1px solid #CCC;
 }
 

.ui-growl {
 margin-top: 25px; 
 font-weight: lighter;
 }

.ui-growl-item-container {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	border: 1px solid gray;
	font-weight: lighter;
	text-shadow: 0px 0 #EFEFEF;
	font-family: arial,helevetica,sans-serif;
}

.imageswitch img {
	width: 200px;
	border: 1px solid #CCC;
}

#keypad-div {
	background: rgba(0,0,1,0.75);
}

.ui-message-error {
	margin: 0px;
	width:95%;
}

.ui-tooltip {
	text-shadow: none;
	font-family: Kufi,sans-serif,arial,verdana;
	font-size: 0.8em;
	padding: 5px;
	background: rgba(0, 128, 0, 0.9);
	color: rgba(255,254,253,0.95);
	border: 1px solid #CCC;
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.ui-password-info {
    margin-top: 4px;
    text-shadow: none;
}