@CHARSET "UTF-8";

h1 {
	font-variant: normal;
	font-size: 3.15em;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	line-height: 60px;
}

h2 {
	font-variant: normal;
	font-size: 1.8em;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

body {
	font-family: Kufi, Nunito, Roboto, sans-serif, arial;
	background: black url('../resources/gfx/bg-fig.jpg');
	background-size: 1920px 1200px;
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

input {
	background: rgb(45, 72, 17);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-family: Kufi, Naskh, Nunito, Roboto, sans-serif;
	padding: 10px;
}

input:HOVER {
	background: transparent;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.025) inset, 0 0 8px
		rgba(0, 0, 0, 0.7);
}

input:ACTIVE {
	background-color: #6F9828;
	padding: 7px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.025) inset, 0 0 18px rgba(0, 0, 0, 0.7);
	color: #000000;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.025);
	border-radius: 6px;
}

.crystal {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
	background-clip: padding-box;
	background-color: rgba(131, 165, 44, 0.3);
	border-radius: 6px;
	border: 3px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.12) inset, 0 0 1px
		rgba(255, 255, 255, 0.3);
	float: none;
	width: 950px;
	min-width: 340px;
	font-size: 12pt;
	text-align: center;
	color: rgb(14, 14, 14);
	padding: 15px;
	font-family: Kufi, Naskh, Nunito, Roboto, sans-serif, Verdana, Arial;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	display: block;
}

.crystal img {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px;
	margin: 5px;
	width: 50px;
}

#welcomediv {
	background-size: 500px 100px;
}

@font-face {
	font-family: Roboto;
	src: url("../resources/Roboto-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Kufi;
	src: url("../resources/DroidKufi-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Nunito;
	src: url("../resources/Nunito-Regular.ttf");
	font-weight: 300;
}

#img_bee {
	animation: 8s ease 0s normal none 1 animated_img;
	-moz-animation-name: animated_img;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: 2;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	-webkit-animation-name: animated_img;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}


/* KeyFrames */
@keyframes animated_img { 
0% {
	background: #4B6B1A;
	left: 0px;
	top: 0px;
}

25%
{
background: transparent;
left: 200px;
top:0px;
-webkit-transform:matrix(0.866,0.5,-0.5,0.866,0,0);
-moz-transform:matrix(0.866,0.5,-0.5,0.866,0,0);
}
50%
{
border:2px solid #DDDDDD;
left:200px;
top:200px;
-webkit-transform:translate(450px,0px);
-moz-transform:translate(450px,0px);
}

75%
{
background:#78A22C;
left:0px;
top:200px;
-webkit-transform:translate(-450px,0px);
-moz-transform:translate(-450px,0px);
}

100%
{
background:inherit;
left:0px;
top:0px;
}
}


@-webkit-keyframes animated_img { 
0% {
	background: #4B6B1A;
	left: 0px;
	top: 0px;
}

25%
{
background: transparent;
left: 200px;
top:0px;
-webkit-transform:matrix(0.866,0.5,-0.5,0.866,0,0);
-moz-transform:matrix(0.866,0.5,-0.5,0.866,0,0);
}
50%
{
border:2px solid #DDDDDD;
left:200px;
top:200px;
-webkit-transform:translate(450px,0px);
-moz-transform:translate(450px,0px);
}

75%
{
background:#78A22C;
left:0px;
top:200px;
-webkit-transform:translate(-450px,0px);
-moz-transform:translate(-450px,0px);
}

100%
{
background:inherit;
left:0px;
top:0px;
}
}